{% extends "layout.html" %}
{% block title %}Profile Feed{% endblock %}
{% block page %}Feed{% endblock %}

{{ super() }}

{% block content %}
    <div class="row">
        <p>
            This is table is renderd on the Server. Flask gets the data from the database and uses jinja templates to dyanmically render this page when a request is sent to <a href="/usrs">/users</a>.
        </p>
    </div>
    <div class="row">
      <table>
        <thead>
          <tr>
            <th>Id</th><th>Receiver ID</th><th>Sender ID</th><th>Distr ID</th>
          </tr>
        </thead>
        <tbody>
          {% if user %}
            <div class="row">
              <div class="col s12 m7">
                <div class="card">
                  <div class="card-image">
                    <img src="">
                  </div>
                  <div class="card-content">
                    <p>User id: {{user.id}}</p>
                    <p>username: {{user.username}}</p>
                  </div>
                  <div class="card-action">
                    <a href="/api/profile/{{user.id}}">View Profile</a>
                    <p class="ranking" >
                      <a class="s5" href="/create/rating/{{current_user.id}}/{{user.id}}/5"><i class="material-icons">star</i></a>
                      <a class="s4" href="/create/rating/{{current_user.id}}/{{user.id}}/4"><i class="material-icons">star</i></a>
                      <a class="s3" href="/create/rating/{{current_user.id}}/{{user.id}}/3"><i class="material-icons">star</i></a>
                      <a class="s2" href="/create/rating/{{current_user.id}}/{{user.id}}/2"><i class="material-icons">star</i></a>
                      <a class="s1" href="/create/rating/{{current_user.id}}/{{user.id}}/1"><i class="material-icons">star</i></a>
                  <p>
                  <style>
                    .ranking  .material-icons{
                      font-size: em;
                      color: grey;
                      float: right;
                      cursor: pointer;
                    }
                    .material-icons:hover{
                      color: gold;
                    }
                  </style> 
                  </div>
                </div>
              </div>
            </div>
          {% endif %}

            {% for feed in feeds %}
            <tr>
                <td>{{feed.id}}</td>
                <td>{{feed.receiverID}}</td>
                <td>{{feed.senderID}}</td>
                <td>{{feed.distID}}</td>
            </tr>
            {% endfor %}
          
        <tbody>
      </table>
    </div>
{% endblock %}