<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>

{% extends "layout.html" %}
{% block title %}Profile Picture Voting{% endblock %}
{% block page %}Profile Picture Voting{% endblock %}
{{ super() }}

    {% block content %}
    <div id="login">   
      <h3 style="font-family: 'Playball', cursive;" class="center">Login</h3>
        <div style="margin-bottom:20px" class="divider #2196f3 blue"></div> 
      <div class="imgcontainer">
      
      </div>

      <h5  class="center">Welcome Back, User!</h5>

      <form action="/login" method="post">


        <div class="field-wrap">
          <label>
          <label style="color:black">
            UserName<span class="req">*</span>
          </label>
          <input type="text" name="username" required autocomplete="off"/>
        </div>

        <div class="field-wrap">
          <label>
          <label style="color:black">
            Password<span class="req">*</span>
          </label>
          <input type="password" name="password" required autocomplete="off"/>
        </div>

        <button type="submit" class="button button-block #1565c0 blue darken-3"><i class="material-icons left"></i>Login</button> 

        <a href="/" type="button"   style="margin-top:1% ;" class="button button-block">  Go Back </a>
      </form>

      

    </div>
  
    {% endblock %}
</html>    
    